h1 {
    color: green;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 124px;
}

body {
    background-color: red;
}

img {
    width: 200px;
    height: 200px;
}